

{% include "header.html" %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li class="current">About</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

<!-- About Section -->
<section id="about" class="section about">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="order-2 order-lg-1 content"> 
        <h3> Global Grants </h3>
        <p class="fst-italic">
          Want to study abroad but don't know where to start? Global Grants is a team of experienced mentors who help applicants 
          win prestigious scholarships and study at the best universities in Turkey, Poland, and Hungary.
        </p>
        <p>
          We specialize in applying for programs like <b>Türkiye Bursları</b>, <b>Stipendium Hungaricum</b>, as well as 
          <b>direct admission to universities in Poland and Turkey</b>. Our services include full support at every stage, 
          from choosing a program to preparing for departure.
        </p>
        <ul>
          
          

          <li><i class="bi bi-check2-all"></i> <span> Our mentors are graduates of top universities who have themselves gone through the process of winning scholarships 
            and now help other students get accepted abroad. </span></li>
          <li><i class="bi bi-check2-all"></i> <span>We provide step-by-step instructions and all the practical information 
            that will lead you to receive an invitation letter from the university of your dreams.</span></li>
          <li><i class="bi bi-check2-all"></i> <span>We help you avoid mistakes that could reduce your chances of winning a grant.</span></li>
        </ul>
        <p>
          Our team consists of people who have won full scholarships and are receiving grants. We know all the intricacies of the application process, 
          and thanks to our experience and support, you will understand all the nuances of document submission, 
          receive a motivational letter, and be ready for the interview. With us, your path abroad will be destined for success.
        </p>
        <p>
          Studying in Turkey, Hungary, and Poland is not just an opportunity to get an education; 
          it's a chance to become part of an international community, gain unforgettable experiences, and make friends from around the world.
        </p>
        <p>
          We sincerely believe that education is an investment in the future. If you dream of studying abroad, contact us. 
          We will help you achieve your goals.
        </p>

        <p><b> Review from a student who won the Türkiye Bursları scholarship! &nbsp;&nbsp;   </b> 
          <a href="https://www.instagram.com/reel/Cz8Bd8uAit3/?igsh=MTh5eDd2ZG50aGEzbg==" target="_blank" rel="noopener noreferrer">
            Watch
          </a>
        </p>

        <p><b> Review from a student who won the Türkiye Bursları scholarship! &nbsp;&nbsp;   </b> 
          <a href="https://www.instagram.com/reel/Cz8Bd8uAit3/?igsh=MTh5eDd2ZG50aGEzbg==" target="_blank" rel="noopener noreferrer">
            Watch
          </a>
        </p>

        <p><b> Review from a student who won the Stipendium Hungaricum scholarship! &nbsp;&nbsp;   </b> 
          <a href="https://www.instagram.com/reel/Cz8Bd8uAit3/?igsh=MTh5eDd2ZG50aGEzbg==" target="_blank" rel="noopener noreferrer">
            Watch
          </a>
        </p>
      </div>
    </div>

  </div>

</section><!-- /About Section -->






  </main>

  {% include "footer.html" %}
